.object-fit-cover {
  width:50px;  
  height:50px !important;
  object-fit:cover
}

.area-pictures {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin:30px;
    
}
.area-pictures:hover {
    border-radius:40%;
}

#main-text-container {
    padding-top: 15rem;

    
}
#main-background {
    background-image:url('/static/imgs/UMass.jpeg'); background-position: center;height:800px;background-size:cover;
}

.central-background {
    background-image: url('/static/imgs/central.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#dorm-list {
    padding: 15px;
}
.fade-in {
  opacity: 0.00;
	-webkit-transition: 1s all ease-in-out;
	-moz-transition: 1s all ease-in-out;
	-o-transition:1s all ease-in-out;
	transition: 1s all ease-in-out;
}

.fade-in.active {
	opacity: 1.00;
}

.area-names {
    font-size: 28px;
}
.btn {
  --bs-btn-border-width: 2px;
}
.navbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(136, 28, 28,0.9);
  }
.navbar-brand {
    color : white;
}
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-sm,
  .navbar > .container-md,
  .navbar > .container-lg,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  .question {
    padding-top: 1rem;
  }