<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Welcome to UMass Dorms</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
    <link href="static/css/main.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
      id="mainNav"
    >
      <div class="container px-4">
        <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="text-white" id="main-background">
      <div class="container px-4 text-center" id="main-text-container">
        <h1 class="fw-bolder">Welcome to UMass Dorms</h1>
        <p class="lead">Don't know where to live in?</p>
        <a class="btn btn-lg btn-light" href="#about">Take a Quiz</a>
      </div>
    </header>
    <!-- About section-->
    <section id="dorm-list">
      <div class="row">
        <div class="col text-center">
          <a href="templates/central.html">
              <img
                class="area-pictures"
                alt="avatar2"
                src="static/imgs/central.jpeg"
              />
          </a>
          <h3>Central</h3>
        </div>
        <div class="col text-center">
          <a href="templates/ohill.html">
            <img
              class="area-pictures shadow-4"
              alt="avatar2"
              src="static/imgs/ohill.jpeg"
            />
          </a>
          <h3>Orchard Hill</h3>
        </div>
        <div class="col text-center">
          <a href="templates/norheast.html">
            <img
              class="area-pictures shadow-4"
              alt="avatar2"
              src="static/imgs/northeast.jpeg"
            />
          </a>
          <h3>Northeast</h3>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="templates/southwest.html">
            <img
              class="area-pictures shadow-4"
              alt="avatar2"
              src="static/imgs/southwest.jpeg"
            />
          </a>
          <h3>Southwest</h3>
        </div>
        <div class="col text-center">
          <a href="templates/honors.html">
            <img
              class="area-pictures shadow-4"
              alt="avatar2"
              src="static/imgs/honors.jpeg"
            />
          </a>
          <h3>Honors</h3>
        </div>
        <div class="col text-center">
          <a href="templates/sylvan.html">
            <img
              class="area-pictures shadow-4"
              alt="avatar2"
              src="static/imgs/sylvan.jpeg"
            />
          </a>
          <h3>Sylvan</h3>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2022
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="static/js/scripts.js"></script>
  </body>
</html>
